body {
    background-color: #e6faff;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

main {
    width: 800px;
}

main > section {
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    width: 100%;
}

fieldset {
    border: 2px solid #246A73;
    border-radius: 10px;
}

h1 a {
    color: #000;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

input {
    font-weight: 500;
    color: #246A73;
    min-height: 20px;
    margin-top: 10px;
    border-radius: 5px !important;
    padding-left: 10px;
    outline: none;
}

.border {
    border: none;
    border-radius: 10px;
}

.shadow {
    box-shadow: 16px 16px 44px rgba(0, 0, 0, 0.4);
}

.shadow-sm {
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.4);
}

button {
    border-radius: 5px !important;
    font-weight: 500;
    background: #246A73;
    color: #FFF;
    min-width: 200px;
    min-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
}
